:root{
    --header-background: #FFFFFF;
    --body-background: #F5F5F5;
    --footer-background-color: #2F303A;
   }
   header {
    background:var(--header-background);
   }
    body{
    background: var(--body-background);
    font-family:'Roboto';
    color: #212121;
    }
   footer{
    background:var(--footer-background-color)
   }
   