:root{
    --header-background: #FFFFFF;
    --body-background: #F5F5F5;
    --footer-background: #2F303A;
    --list-text-color:#2196F3;
    }
   .header {
    background:var(--header-background);
   }
 .body{
    background: var(--body-background);
 }
.footer{
    background:var(--footer-background)
}